fastapi
uvicorn
pydantic
numpy
scipy
pandas
sentence-transformers
rank-bm25
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
transformers
peft
opensearch-py
loguru
python-dotenv
openai
