fastapi
uvicorn
pydantic
numpy<2
scipy
pandas
sentence-transformers
rank-bm25
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1
transformers
peft
opensearch-py
loguru
python-dotenv
openai
