/* Light mode CSS variables */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #1a1a2e;
  --card: #f4f4f4;
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.141 0.005 285.823) --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: #6f6f6f ont-sans;
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #e0e0e0;
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --FN-Gradient-1: linear-gradient(
    180deg,
    #fff 0%,
    #0fb490 30%,
    #1070e4 60%,
    #6913cb 100%
  );
  --FN-Gradient-2: linear-gradient(
    150deg,
    #0fb490 30%,
    #1070e4 60%,
    #6913cb 100%
  );
  --text-shadow: rgba(80, 30, 160, 0.3);
  --card-bg: #f8faf9;
  --body-bg: #fffbfe;
  --tooltip: #ffffff;
  --chart-text1: #383535;
  --chart-girdline: #cecaca;
  --FN-Gradient-3: linear-gradient(150deg, #bde9e0 10%, #0fb490 80%);
  --FN-Gradient-4: linear-gradient(150deg, #5392df 10%, #732cc5 80%);
  --rate-high: #f1bbbb;
  --rate-medium: #f1d4a7;
  --rate-low: #b9f0d4;
  --text-high: #ba4e4e;
  --text-medium: #b69561;
  --text-low: #5dae85;
}
